@font-face {
    font-family: 'Rubik-Regular';
    src: url('./fonts/static/Rubik-Regular.ttf');
  }

@font-face {
  font-family: 'Rubik-Light';
  src: url('./fonts/static/Rubik-Light.ttf');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('./fonts/static/Rubik-Bold.ttf');
}

@font-face {
  font-family: 'Rubik-Italic';
  src: url('./fonts/static/Rubik-LightItalic.ttf');
}

html, body {
  display: block;
  position: absolute;
  background: #042227;
  color:white;
  font-family: "Rubik-Light";
  width: calc(100% - 20px);
  left: 10px;
  /* height: 100%; */
}

#graphiques {
    /* display: flex; */
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

text {
  font-family: "Rubik-Light";
  font-size: 14px;
}

i {
  font-size: 30px !important;
}

#depSelected {
  font-family: "Rubik-Italic";
}

.switch-field {
	display: flex;
	/* margin-bottom: 36px; */
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
  background-color: white;
	color: rgba(0, 0, 0, 0.6);
	font-size: 19px;
	line-height: 1;
	text-align: center;
	padding: 9px 18px;
	margin-right: -1px;
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
	/* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); */
	transition: all 0.25s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #02454F;
  color:white;
  box-shadow: none;
  font-family: "Rubik-Bold";
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}
