@font-face {
    font-family: 'Rubik-Regular';
    src: url('./fonts/static/Rubik-Regular.ttf');
  }

@font-face {
  font-family: 'Rubik-Light';
  src: url('./fonts/static/Rubik-Light.ttf');
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('./fonts/static/Rubik-Bold.ttf');
}

@font-face {
  font-family: 'Rubik-Italic';
  src: url('./fonts/static/Rubik-LightItalic.ttf');
}

html, body {
  display: block;
  position: absolute;
  background: #042227;
  color:white;
  font-family: "Rubik-Light";
  width: calc(100% - 20px);
  left: 10px;
  /* height: 100%; */
}

#graphiques {
    /* display: flex; */
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

text {
  font-family: "Rubik-Light";
  font-size: 14px;
}

i {
  font-size: 30px !important;
}

#depSelected {
  font-family: "Rubik-Italic";
}